

.of-user-0 {
    background: LightGreen;
}

.of-user-1 {
    background: LightSalmon;
}

.of-user-2 {
    background: LightBlue;
}

.of-user-3 {
    background: LightPink;
}

/* .acemarker-1.of-user-0.cursor { */
/* 	border-left: 2px Green solid; */
/* } */

/* .acemarker-1.of-user-1.cursor { */
/* 	border-left: 2px Salmon solid; */
/* } */

/* .acemarker-1.of-user-2.cursor { */
/* 	border-left: 2px Blue solid;	 */
/* } */

/* .acemarker-1.of-user-3.cursor { */
/* 	border-left: 2px Pink solid;	 */
/* } */