@import url(../runo/styles.css);

.v-panel-caption .v-icon {
	margin-right: 6px;
}

.v-window-header .v-icon {
    margin-right: 6px;
}

.v-userwidget {
	margin: 2px;
	border: 1px solid gray;
}

.v-userwidget .name-label {
	font-weight: bold;
	left: 50px;
}

.v-userwidget .user-image {
    margin: 2px;
    border: 1px solid gray;
}