@import url(../runo/styles.css);

.v-panel-caption .v-icon {
	margin-right: 6px;
}

.v-window-header .v-icon {
    margin-right: 6px;
}

.v-userwidget {
	margin: 2px;
	border: 1px solid gray;
}

.v-userwidget .name-label {
	font-weight: bold;
	left: 50px;
}

.v-userwidget .user-image {
    margin: 2px;
    border: 1px solid gray;
}

.of-user-0 {
    background: LightGreen;
}

.of-user-1 {
    background: LightSalmon;
}

.of-user-2 {
    background: LightBlue;
}

.of-user-3 {
    background: MediumOrchid;
}

.of-user-4 {
    background: LightCoral;
}

.of-user-5 {
    background: LightSeaGreen;
}

.of-user-6 {
    background: LightPink;
}

.of-user-7 {
    background: LightSkyBlue;
}
